<mat-toolbar>
  <div fxLayout="row" fxFlex fxLayoutAlign="space-around center" fxLayoutGap=25px>
    <div fxLayout="row" fxLayoutGap=15px fxLayoutAlign="space-around center" >
      <div>
        <img height="45" width="45" src="../../../assets/education.svg">
      </div>
      <div>
        <h2 id="title">{{appName}}</h2>
      </div>
    </div>
    <form fxFlex=55 fxFlex.sm=75 fxFlex.md=75 fxFlex.xs=75 fxFlexOffset=6% fxLayoutAlign="center">
      <mat-form-field class="search" appearance="outline" fxFlex=100>
        <button mat-icon-button class="search-button">
          <mat-icon matTooltip="Search" class="search-button-icon">search</mat-icon>
        </button>
        <input type="search" [(ngModel)]="search" name="search" fxFlex="100" matInput placeholder="Search"
          class="search-window" autocomplete="off" />
        <button *ngIf="search" class="clear-button" mat-icon-button (click)="search=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <div fxLayout="row" fxLayoutGap="20px">
      <img style="width:30px;height:30px;" src="../../assets/outline_person_outline_white_24dp.png">
      <img style="width:30px;height:30px;" src="../../assets/outline_shopping_cart_white_24dp.png">
    </div>
  </div>
</mat-toolbar>
