.container {
  margin-top: 2rem;
}

.innerContainer {
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
  font-size: 1rem;
  border-radius: 6px;
}

mat-form-field {
  margin: 8px;
  font-size: 13px;
  font-weight: 800;
  width: 100%;
  margin: 0;
}

.submit {
  margin-top: 10px;
  width: 100%;
  background-color: #A03037;
  color: white;
}

.createAccount {
  border-top: solid 1px rgb(207, 200, 200);
  background-color: #e9e9de;
  height: 100px;
  width: 100%;
}

.createAccount a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.formCard {
  padding: 3rem;
}
