* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$bg-color: #00000029;

.container{
  background-color: $bg-color;
}

.mainImage{
  width: auto;
  height: auto;
  padding:  4rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
  font-size:1rem;
  border-radius: 6px;
  background-color: #F5F5F5;
  margin-left:-150px
}

.innerContainer{
  width: 400px;
  height: 510px;
  margin-left:-25px;
  padding:  2rem 4rem 0 4rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
  font-size:1rem;
  border-radius: 6px;
  background-color: white
}

.title{
  font-size:x-large;
}

.container{
  height:100vh;
  width:100vw;
  padding: 0;
  margin:0;
}

.submit{
  margin-top:10px;
  width:100%;
  background-color: #A03037;
  color: white;
}

mat-form-field{
  margin: 8px;
  font-size: 13px;
  font-weight: 800;
  width:100%;
  margin:0;
}

a{
  float:right;
  font-size:small;
}