<app-header [fieldsOnToolBar]="fieldsOnToolBar"></app-header>
<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <h1>Reset Your Password</h1>
  <div class="innerContainer">
    <div class="formCard">
      <form fxLayout="column" (ngSubmit)="resetPassword()" fxLayoutAlign="space-evenly" fxLayoutGap="5px" novalidate
        autocomplete="off" [formGroup]="resetPasswordForm">
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput type="text" id="newPasswordId" autocomplete="none" name="newPassword"
            placeholder="New Password" formControlName="newPassword" required>
          <mat-icon matSuffix (click)="hide = !hide;$event.stopPropagation()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
          <mat-error *ngIf="resetPasswordForm.get('newPassword').errors?.required">* password cannot be empty
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('newPassword').errors?.minlength">* minimum 8 characters</mat-error>
          <mat-error *ngIf="resetPasswordForm.get('newPassword').errors?.maxlength">* max 20 characters</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="text" id="confirmPasswordId" autocomplete="none" name="comfirmPassword"
            placeholder="Confirm Password" formControlName="confirmPassword" required>
          <mat-icon matSuffix (click)="hide = !hide;$event.stopPropagation()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="resetPasswordForm.get('confirmPassword').errors?.required">* confirm password cannot be empty
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('confirmPassword').errors?.minlength">* minimum 8 characters
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('confirmPassword').errors?.maxlength">* max 15 characters</mat-error>
          <mat-error *ngIf="resetPasswordForm.get('confirmPassword').errors?.passwordMismatch">* Passwords should match</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" class="submit" mat-button>reset password</button>
      </form>
    </div>
  </div>
</div>
